In [ ]:
- MACD indicator
- Moving average
- Moving average convergence divergence

[rolling window](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html)

In [1]:
import pandas as pd
import numpy as np

In [2]:
import mod_my_utils.read_write_data as mu

In [3]:
folder_path = 'data/'
stock_name = 'aapl'

In [6]:
stock_data = mu.get_price_csv(folder_name=folder_path, symbol=stock_name, index_col='Date')

stock name:  aapl

In [7]:
data = stock_data[["Adj. Close"]].copy()
data.columns = ["Price"] 
data.head()

                Price
Date
2007-12-03  22.986003
2007-12-04  23.108091
2007-12-05  23.839335
2007-12-06  24.411582
2007-12-07  24.970258

In [8]:
data.head()

                Price
Date
2007-12-03  22.986003
2007-12-04  23.108091
2007-12-05  23.839335
2007-12-06  24.411582
2007-12-07  24.970258

In [9]:
data.rolling(window=5)

Rolling [window=5,center=False,axis=0,method=single]

In [10]:
data.rolling(window=5).mean()

                 Price
Date
2007-12-03         NaN
2007-12-04         NaN
2007-12-05         NaN
2007-12-06         NaN
2007-12-07   23.863054
...                ...
2017-11-27  173.428000
2017-11-28  174.046000
2017-11-29  173.314000
2017-11-30  172.692000
2017-12-01  171.908000

[2517 rows x 1 columns]

In [11]:
data.rolling(window=5).max()

                 Price
Date
2007-12-03         NaN
2007-12-04         NaN
2007-12-05         NaN
2007-12-06         NaN
2007-12-07   24.970258
...                ...
2017-11-27  174.970000
2017-11-28  174.970000
2017-11-29  174.970000
2017-11-30  174.970000
2017-12-01  174.090000

[2517 rows x 1 columns]

In [12]:
data.rolling(window=5)

Rolling [window=5,center=False,axis=0,method=single]

In [13]:
data.head()

                Price
Date
2007-12-03  22.986003
2007-12-04  23.108091
2007-12-05  23.839335
2007-12-06  24.411582
2007-12-07  24.970258

In [14]:
def square(item):
    return item * item

In [15]:
data['short_ewm_10'] = data['Price'].ewm(span=10, adjust=False).mean()
data['long_ewm_20'] = data['Price'].ewm(span=20, adjust=False).mean()
data.head()

                Price  short_ewm_10  long_ewm_20
Date
2007-12-03  22.986003     22.986003    22.986003
2007-12-04  23.108091     23.008201    22.997630
2007-12-05  23.839335     23.159316    23.077793
2007-12-06  24.411582     23.387001    23.204820
2007-12-07  24.970258     23.674866    23.372957